<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

-   Run the ETL process
-   Extract bank and market cap data from the JSON file `bank_market_cap.json`
-   Transform the market cap currency using the exchange rate data
-   Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!pip install glob
#!pip install pandas
#!pip install requests
#!pip install datetime

## Imports

Import any additional libraries you may need here.

In [3]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [4]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2021-08-09 02:01:20--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2021-08-09 02:01:20 (97.2 MB/s) - ‘bank_market_cap_1.json’ saved [2815/2815]

--2021-08-09 02:01:21--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2021-08-09 02:01:21 (51.0 MB/s) - ‘bank_market_cap_2.json’ saved [1429/1429]

--2021-08-09 02:01:22--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv’

exchange_rates.csv  100%[===================>]     590  --.-KB/s    in 0s

2021-08-09 02:01:22 (18.9 MB/s) - ‘exchange_rates.csv’ saved [590/590]

## Extract

### JSON Extract Function

This function will extract JSON files.

In [5]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [6]:
columns=['Name','Market Cap (US$ Billion)']

In [7]:
def extract():
    extracted_data = pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
    for jsonfile in glob.glob("*.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
    return extracted_data

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [8]:
# Write your code here
    
df = pd.read_csv('exchange_rates.csv', index_col=[0])
exchange_rate = df.loc['GBP', 'Rates']

0.7323984208000001
            Rates
AUD      1.297088
BGN      1.608653
BRL      5.409196
CAD      1.271426
CHF      0.886083
CNY      6.483139
CZK     21.510117
DKK      6.119757
EUR      0.822504
GBP      0.732398
HKD      7.752509
HRK      6.222652
HUF    294.135549
IDR  14097.902616
ILS      3.281132
INR     73.011186
ISK    129.133081
JPY    103.791742
KRW   1105.839776
MXN     19.932966
MYR      4.043017
NOK      8.497121
NZD      1.393733
PHP     48.070406
PLN      3.732933
RON      4.008883
RUB     74.930827
SEK      8.292071
SGD      1.328261
THB     30.009870
TRY      7.418572
USD      1.000000
ZAR     15.118441

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [24]:


def transform(data):
    # Write your code here
    data['Market Cap (US$ Billion)'] = data['Market Cap (US$ Billion)'].apply(lambda x: round(x*exchange_rate,3))
    data.columns = ['Name', 'Market Cap (GBP$ Billion)']
    return data

                                 Name  Market Cap (US$ Billion)
0     Banco Bilbao Vizcaya Argentaria                    60.678
1                     Japan Post Bank                    60.525
2         The Bank of New York Mellon                    59.823
3    Shanghai Pudong Development Bank                    58.796
4             Industrial Bank (China)                    57.388
..                                ...                       ...
100                      Ping An Bank                    37.993
101                Standard Chartered                    37.319
102              United Overseas Bank                    35.128
103                         QNB Group                    33.560
104                       Bank Rakyat                    33.081

[105 rows x 2 columns]
                                 Name  Market Cap (GBP$ Billion)
0     Banco Bilbao Vizcaya Argentaria                     44.440
1                     Japan Post Bank                     44.328
2         The Bank of New York Mellon                     43.814
3    Shanghai Pudong Development Bank                     43.062
4             Industrial Bank (China)                     42.031
..                                ...                        ...
100                      Ping An Bank                     27.826
101                Standard Chartered                     27.332
102              United Overseas Bank                     25.728
103                         QNB Group                     24.579
104                       Bank Rakyat                     24.228

[105 rows x 2 columns]

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [25]:
def load(data):
    # Write your code here
    data.to_csv('bank_market_cap_gbp.csv', index = False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [26]:
def log(message):
    # Write your code here
    timestamp_format = '%H-%M-%S-%h:%d:%Y' 
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("bank_logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [ ]:
# Write your code here
log("ETL Job Started")
log("Extract phase Started")

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [27]:
# Call the function here
data = extract()
# Print the rows here
data.head(5)

                               Name  Market Cap (US$ Billion)
0   Banco Bilbao Vizcaya Argentaria                    60.678
1                   Japan Post Bank                    60.525
2       The Bank of New York Mellon                    59.823
3  Shanghai Pudong Development Bank                    58.796
4           Industrial Bank (China)                    57.388

Log the data as <code>"Extract phase Ended"</code>

In [28]:
# Write your code here
log("Extract phase Ended")

### Transform

Log the following  <code>"Transform phase Started"</code>

In [ ]:
# Write your code here
log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [29]:
# Call the function here
data = transform(data)
# Print the first 5 rows here
data.head(5)

                                 Name  Market Cap (US$ Billion)
0     Banco Bilbao Vizcaya Argentaria                    60.678
1                     Japan Post Bank                    60.525
2         The Bank of New York Mellon                    59.823
3    Shanghai Pudong Development Bank                    58.796
4             Industrial Bank (China)                    57.388
..                                ...                       ...
100                      Ping An Bank                    37.993
101                Standard Chartered                    37.319
102              United Overseas Bank                    35.128
103                         QNB Group                    33.560
104                       Bank Rakyat                    33.081

[105 rows x 2 columns]
                                 Name  Market Cap (GBP$ Billion)
0     Banco Bilbao Vizcaya Argentaria                     44.440
1                     Japan Post Bank                     44.328
2         The Bank of New York Mellon                     43.814
3    Shanghai Pudong Development Bank                     43.062
4             Industrial Bank (China)                     42.031
..                                ...                        ...
100                      Ping An Bank                     27.826
101                Standard Chartered                     27.332
102              United Overseas Bank                     25.728
103                         QNB Group                     24.579
104                       Bank Rakyat                     24.228

[105 rows x 2 columns]

AttributeError: 'NoneType' object has no attribute 'head'

Log your data <code>"Transform phase Ended"</code>

In [ ]:
# Write your code here

### Load

Log the following `"Load phase Started"`.

In [ ]:
# Write your code here

Call the load function

In [ ]:
# Write your code here

Log the following `"Load phase Ended"`.

In [ ]:
# Write your code here

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).